body {
	background-color: #FFE49C;
	background-image: url(../images/honeycomb5.png);
	background-repeat: repeat;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

/*background-attachment pins picture to page */

.main {
	background-color: rgba(255,255,255,0.5);
	width: 600px;
	margin: 0 auto;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0 0 10px 5px rgba(255,255,255,0.6)
}

@media screen and (max-width: 768px) {
	.main {
		width: 100%;
		box-sizing: border-box;
	}
}

h1{
	font-size: 40px;
	text-align: center;
	color: #B88E1D;
	font-family: 'Lato', sans-serif;
	letter-spacing: 5px;	
	text-shadow: 5px 5px 15px #F5C133;
}

h2{
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 5px;	
}

h3{
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 0;
}

h4{
	text-align: block;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
	cursor: pointer;
	margin-bottom: 0;
}

.about {
		text-align: justify;
		font-weight: normal;
		font-style: italic;
		font-size: 12px;
}

h6{
	font-size: 8px;
	margin-bottom: 0;
}

p{
		text-align: justify;
		font-weight: normal;
		font-size: 12px;
}

.me {
	display: inline-block;
	margin: 0 auto;
	width: 100px;
	border-radius: 25% 25% 25%;
	padding: 10px;
}

.bee {
	display: inline-block;
	margin: 0 auto;
	width: 100px;
}

.twittering{
	text-align: justify;
	font-weight: bold;
	font-style: italic;
	margin-right: 20px;
	margin-left: 20px;
}

.logo{
	display: inline-block;
	width: 80px;
	height: 15px;
}

.left{
	float: left;
	width: 20%;
}

.right{
	float: right;
	width: 75%;
}

.headerpic{
	display: inline-block;
	width: 20%;
}

.header{
	display: inline-block;
	width: 75%;
}

.logodiv{
	clear: both;
	padding: 5px;
}

